@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0 auto;
}

header {
    text-align: center;
    width: 100%;
    background-color: #89b5f2;
    color: white;
    padding: 10px
}

header a {
    text-decoration: none;
    color: white;
    width: 100%;
}

nav {
    width: 100%;
    background-color: #94bbf1;
    padding: 10px;
    display: flex;
    align-items: center
}

nav a {
    color: white;
    text-decoration: none; 
    font-size: 25px;
}

nav a:hover {
    color: grey;
}

main {
    background: rgb(227, 239, 255);
    background: radial-gradient(circle, rgba(227, 239, 255, 1) 0%, rgba(148, 190, 233, 1) 100%);
    width: 100%;
    height: 770px;
    padding: 10px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
}

footer {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #94bbf1;
    color: white;
}

main iframe {
    width: 100%;
    height: 770px;
}